
@model DotNetNuke.Framework.Models.PageModel
@{
    Layout = null;
	var SkinPath = Path.GetDirectoryName(Model.Skin.SkinSrc);
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
	<link href="@(SkinPath)/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="@(SkinPath)/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
	<link href="@(SkinPath)/Menus/MainMenu/MainMenu.css" rel="stylesheet">
	<link href="@(SkinPath)/skin.css" rel="stylesheet">
	<link href="/Portals/0/home.css" rel="stylesheet">
</head>
<body>
    <div>
		@Html.Partial(Model.Skin.RazorFile, Model.Skin)
    </div>
</body>
</html>
