@model ModuleSettingsMvcViewModel
@using DotNetNuke.Web.Mvc.Helpers

@{
    var dnnSiteRoot = Dnn.DnnSiteRoot();
}

@section Scripts {
    <script src="@dnnSiteRoot/Resources/Shared/scripts/dnn.jquery.js" type="text/javascript"></script>
    <script src="@dnnSiteRoot/Resources/Shared/scripts/dnn.extensions.js" type="text/javascript"></script>
    <script src="@dnnSiteRoot/Resources/Shared/scripts/dnncore.js" type="text/javascript"></script>
}

<div class="dnnForm dnnModuleSettings dnnClear" id="dnnModuleSettingsMvc">
    @using (Html.BeginForm("Update", "ModuleSettingsMvc", FormMethod.Post, new { id = "moduleSettingsMvcForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "dnnFormMessage dnnFormValidationSummary" })
        @Html.HiddenFor(m => m.ModuleId)

        <ul class="dnnAdminTabNav dnnClear">
            <li><a href="#msModuleSettings">@Dnn.LocalizeString("ModuleSettings")</a></li>
            <li><a href="#msPermissions">@Dnn.LocalizeString("Permissions")</a></li>
            <li><a href="#msPageSettings">@Dnn.LocalizeString("PageSettings")</a></li>
        </ul>

        <div id="msModuleSettings">
            <h2 class="dnnFormSectionHead">@Dnn.LocalizeString("GeneralDetails")</h2>
            <fieldset>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.ModuleTitle)
                    @Html.TextBoxFor(m => m.ModuleTitle)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.Alignment)
                    @Html.DropDownListFor(m => m.Alignment, new SelectList(new[] { "left", "center", "right" }))
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.Color)
                    @Html.TextBoxFor(m => m.Color)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.Border)
                    @Html.TextBoxFor(m => m.Border)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.IconFile)
                    @Html.TextBoxFor(m => m.IconFile)
                </div>
            </fieldset>

            <h2 class="dnnFormSectionHead">@Dnn.LocalizeString("Security")</h2>
            <fieldset>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.AllTabs)
                    @Html.CheckBoxFor(m => m.AllTabs)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.NewTabs)
                    @Html.CheckBoxFor(m => m.NewTabs)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.AllowIndex)
                    @Html.CheckBoxFor(m => m.AllowIndex)
                </div>
            </fieldset>

            <h2 class="dnnFormSectionHead">@Dnn.LocalizeString("CacheSettings")</h2>
            <fieldset>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.CacheProvider)
                    @Html.DropDownListFor(m => m.CacheProvider, new SelectList(Model.AvailableCacheProviders))
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.CacheDuration)
                    @Html.TextBoxFor(m => m.CacheDuration)
                </div>
            </fieldset>
        </div>

        <div id="msPermissions">
            @Html.Partial("_ModulePermissionsGrid", Model.Permissions)
        </div>

        <div id="msPageSettings">
            <h2 class="dnnFormSectionHead">@Dnn.LocalizeString("Appearance")</h2>
            <fieldset>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.DisplayTitle)
                    @Html.CheckBoxFor(m => m.DisplayTitle)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.DisplayPrint)
                    @Html.CheckBoxFor(m => m.DisplayPrint)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.DisplaySyndicate)
                    @Html.CheckBoxFor(m => m.DisplaySyndicate)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.IsWebSlice)
                    @Html.CheckBoxFor(m => m.IsWebSlice)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.WebSliceTitle)
                    @Html.TextBoxFor(m => m.WebSliceTitle)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.WebSliceExpiryDate)
                    @Html.EditorFor(m => m.WebSliceExpiryDate)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.WebSliceTTL)
                    @Html.TextBoxFor(m => m.WebSliceTTL)
                </div>
            </fieldset>

            <h2 class="dnnFormSectionHead">@Dnn.LocalizeString("OtherSettings")</h2>
            <fieldset>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.IsDefaultModule)
                    @Html.CheckBoxFor(m => m.IsDefaultModule)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.AllModules)
                    @Html.CheckBoxFor(m => m.AllModules)
                </div>
                <div class="dnnFormItem">
                    @Html.LabelFor(m => m.TabId)
                    @Html.DropDownListFor(m => m.TabId, new SelectList(Model.AvailableTabs, "TabID", "TabName"))
                </div>
            </fieldset>
        </div>

        <ul class="dnnActions dnnClear">
            <li><button type="submit" class="dnnPrimaryAction">@Dnn.LocalizeString("cmdUpdate")</button></li>
            <li><a href="@Url.Action("Delete", new { moduleId = Model.ModuleId })" class="dnnSecondaryAction">@Dnn.LocalizeString("cmdDelete")</a></li>
            <li><a href="@Dnn.CancelUrl()" class="dnnSecondaryAction">@Dnn.LocalizeString("cmdCancel")</a></li>
        </ul>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dnnModuleSettingsMvc').dnnTabs().dnnPanels();
        $('#moduleSettingsMvcForm').dnnAjaxForm({
            onSuccess: function (data) {
                if (data.success) {
                    window.location.href = data.redirectUrl;
                } else {
                    $.each(data.errors, function (key, value) {
                        $('[data-valmsg-for="' + key + '"]').text(value[0]);
                    });
                }
            }
        });
    });
</script>