@using DotNetNuke.Modules.Html.Models
@using DotNetNuke.Web.Mvc.Page
@using DotNetNuke.Services.Localization
@model EditHtmlViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>


<div class="dnnForm dnnEditHtml dnnClear" id="dnnEditHtml">
    @using (Html.BeginForm("Save", "DNN_HTML"))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.TabID)
        @Html.HiddenFor(x => x.ModuleID)
        @Html.HiddenFor(x => x.WorkflowType)
        <div class="ehCurrentContent dnnClear" id="ehCurrentContent">
            <div class="ehccContent dnnClear @Model.CurrentView">

                @if (Model.ShowEditView)
                {

                <fieldset>
                    <div class="dnnFormItem">
                        @if (Model.ShowMasterContent)
                        {
                        <div class="ehmContent dnnClear" id="ehmContent">
                            <div class="html_preview">
                                @Html.Raw(Model.MasterContent)
                            </div>
                        </div>
                        }

                        @Html.TextAreaFor(x => x.EditorContent, new { @class = "dnnTextEditor", rows = "10", cols = "100" })
                    </div>
                    <script>
                        // Replace the <textarea id="editor1"> with a CKEditor 4
                        // instance, using default configuration.
                        CKEDITOR.replace('EditorContent');
                    </script>
                    @if (Model.ShowCurrentVersion)
                    {
                    <div class="divCurrentVersion">
                        <div class="dnnFormItem" id="divCurrentWorkflowState">
                            <label>@Localization.GetString("plCurrentWorkflowState", Model.LocalResourceFile) :</label>
                            <span>@Localization.GetString(Model.CurrentWorkflowState, Model.LocalResourceFile)</span>
                            <span>(@Localization.GetString("plCurrentWorkVersion", Model.LocalResourceFile) @Model.CurrentVersion) (@Localization.GetString(Model.CurrentWorkflowInUse, Model.LocalResourceFile))</span>
                        </div>
                        @if (Model.ShowPublishOption)
                        {
                        <div class="dnnFormItem" id="divPublish">
                            <label>@Localization.GetString("plActionOnSave", Model.LocalResourceFile)</label>
                            @Html.CheckBoxFor(m => m.Publish) @Localization.GetString("chkPublish", Model.LocalResourceFile)
                        </div>
                        }
                    </div>
                    }
                </fieldset>
                }


                @if (Model.ShowPreviewView)
                {
                    <fieldset>
                        @if (Model.ShowPreviewVersion)
                        {
                            <div class="dnnFormItem" id="divPreviewVersion">
                                <label>@Localization.GetString("PreviewVersion", Model.LocalResourceFile)</label>
                                <span>Model.PreviewVersion</span>
                            </div>
                            <div class="dnnFormItem" id="divPreviewWorkflow">
                                <label>@Localization.GetString("PreviewWorkflowInUse", Model.LocalResourceFile)</label>
                                <span>Model.PreviewWorkflowInUse</span>
                            </div>
                            <div class="dnnFormItem" id="divPreviewWorkflowState">
                                <label>@Localization.GetString("PreviewWorkflowState", Model.LocalResourceFile)</label>
                                <span>Model.PreviewWorkflowState</span>
                            </div>
                        }
                        <div id="divPreview" class="html_preview">
                            Html.Raw(Model.PreviewContent)
                        </div>
                    </fieldset>
                    <h2 id="dnnSitePanelEditHTMLHistory" class="dnnFormSectionHead"><a href="">@Localization.GetString("dshHistory", Model.LocalResourceFile)</a></h2>
                    <fieldset id="fsEditHtmlHistory">
                        Html.Partial("_HistoryGrid", Model.HistoryItems)
                    </fieldset>
                }

                @if (Model.ShowHistoryView)
                {
                <fieldset>
                    <div class="ehvContent">
                        <div class="dnnFormItem">
                            <label>@Localization.GetString("MaxVersions", Model.LocalResourceFile)</label>
                            <span>@Model.MaxVersions</span>
                        </div>
                        Html.Partial("_VersionsGrid", Model.VersionItems)
                    </div>
                </fieldset>
                }
            </div>
        </div>
        <div class="ehActions">
            <ul class="dnnActions dnnClear">
                <li>
                    <button type="submit" class="dnnPrimaryAction" id="cmdSave">@Localization.GetString("cmdSave", Model.LocalResourceFile)</button>
                </li>
                <li>
                    <a href="@Url.Action(" Index", "HtmlModule" )" class="dnnSecondaryAction">@Localization.GetString("cmdCancel", Model.LocalResourceFile)</a>
                </li>
                <li>
                    <button type="button" class="dnnSecondaryAction" id="cmdEdit" @(Model.ShowEditView ? "disabled" : "" )>@Localization.GetString("cmdEdit", Model.LocalResourceFile)</button>
                </li>
                <li>
                    <button type="button" class="dnnSecondaryAction" id="cmdPreview">@Localization.GetString("cmdPreview", Model.LocalResourceFile)</button>
                </li>
                <li>
                    <button type="button" class="dnnSecondaryAction" id="cmdHistory">@Localization.GetString("cmdHistory", Model.LocalResourceFile)</button>
                </li>
                <li>
                    <span class="separator"></span>
                </li>
                @*<li>
                    <div class="dnnFormItem">
                        @Html.DropDownListFor(m => m.SelectedRenderOption, Model.RenderOptions, new { @class = "dnnSecondaryAction", id = "ddlRender" })
                    </div>
                </li>*@
                @if (Model.ShowMasterContentButton)
                {
                <li>
                    <span class="separator"></span>
                </li>
                <li>
                    <button type="button" class="dnnSecondaryAction" id="cmdMasterContent">Model.MasterContentButtonText</button>
                </li>
                }
            </ul>
        </div>
    }
</div>

<script>
    $(function () {
        $('#dnnEditHtml form').ajaxForm({
            success: function () {
                window.location = "@Model.RedirectUrl";
            },
            beforeSerialize: function () {
                for (var instanceName in CKEDITOR.instances)
                    CKEDITOR.instances[instanceName].updateElement();
            }
        });
    });
</script>

@section Scripts {
    <script>
        (function ($, Sys) {
            function setupDnnEditHtml() {
                $('#dnnEditHtml').dnnPanels();
                if (window.frameElement && window.frameElement.id == "iPopUp") {
                    var ckeditorid = $(".ehCurrentContent textarea.editor").attr('id');
                    if (ckeditorid) {
                        CKEDITOR.on("instanceReady", function (event) {
                            editor = event.editor;
                            resizeDnnEditHtml();
                        });
                    } else {
                        resizeDnnEditHtml();
                    }
                    $(window).resize(function () {
                        var timeout;
                        if (timeout) clearTimeout(timeout);
                        timeout = setTimeout(function () {
                            timeout = null;
                            resizeDnnEditHtml();
                        }, 50);
                    });
                }
            }

            function resizeDnnEditHtml() {
                $('.ehCurrentContent').height($(window).height() - $('.ehActions').height() - $('.dnnEditHtml ').outerHeight(true) + $('.dnnEditHtml ').innerHeight());
                $('window.frameElement, body, html').css('overflow', 'hidden');
                if ($('.ehccContent.EditView').length) {
                    // Ajuster la taille de l'éditeur en fonction du type (RadEditor, CKEditor, ou éditeur de base)
                    // ... (code pour ajuster la taille de l'éditeur)
                }
            }

            $(document).ready(function () {
                setupDnnEditHtml();
                Sys.WebForms.PageRequestManager.getInstance().add_endRequest(function () {
                    setupDnnEditHtml();
                });

                // Ajouter des gestionnaires d'événements pour les boutons
                $('#cmdEdit').click(function () {
                    // Logique pour passer en mode édition
                });

                $('#cmdPreview').click(function () {
                    // Logique pour passer en mode prévisualisation
                });

                $('#cmdHistory').click(function () {
                    // Logique pour afficher l'historique
                });

                $('#ddlRender').change(function () {
                    // Logique pour changer le mode de rendu
                });

                $('#cmdMasterContent').click(function () {
                    // Logique pour afficher/masquer le contenu maître
                });
            });
        }(jQuery, window.Sys));
    </script>
}