@using DotNetNuke.Web.Mvc.Skins
@using DotNetNuke.Web.DDRMenu
@model DotNetNuke.Framework.Models.PageModel

@section metas {
    @Html.Meta(name: "viewport", content: "width=device-width,initial-scale=1")
}

<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<div id="siteWrapper">
    <!-- UserControlPanel  -->
    <div id="topHeader">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="search-top" class="pull-right small-screens hidden-sm hidden-md hidden-lg">
                        <dnn:SEARCH ID="dnnSearch2" runat="server" ShowSite="false" ShowWeb="false" EnableTheming="true" Submit="Search" CssClass="SearchButton" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="language">
                        @Html.Language(showMenu: false, showLinks: true)
                    </div>
                    <div class="search hidden-xs">
                        <dnn:SEARCH ID="dnnSearch" runat="server" ShowSite="false" ShowWeb="false" EnableTheming="true" Submit="Search" CssClass="SearchButton" />
                    </div>
                    <a id="search-action" aria-label="Search"></a>
                    <div id="login" class="pull-right">
                        @Html.Login(cssClass: "LoginLink")
                        @*@Html.User()*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Header -->
    <header role="banner">
        <div id="mainHeader-inner" class="container">
            <div class="clearfix"></div>
            <div class="navbar navbar-default" role="navigation">
                <div id="navbar-top-wrapper">
                    <div id="logo">
                        <span class="brand">
                            @Html.Logo()
                        </span>
                    </div>
                </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse pull-right">
                    @Html.DDRMenu("MENU", "Menus/MainMenu")
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        <main role="main">
            <div class="row dnnpane">
                <div id="HeaderPane" class="col-md-12 headerPane">@Html.Pane("headerpane")</div>
            </div>
            <div id="mainContent-inner">
                <div class="row dnnpane">
                    <div id="ContentPane" class="col-md-12 contentPane">@Html.Pane("contentpane")</div>
                </div>

                <div class="row dnnpane">
                    <div id="P1_75_1" class="col-md-8 spacingTop">@Html.Pane("p1_75_1")</div>
                    <div id="P1_25_2" class="col-md-4 spacingTop">@Html.Pane("p1_25_2")</div>
                </div>

                <div class="row dnnpane">
                    <div id="P2_25_1" class="col-md-4 spacingTop">@Html.Pane("p2_25_1")</div>
                    <div id="P2_75_2" class="col-md-8 spacingTop">@Html.Pane("p2_75_2")</div>
                </div>

                <div class="row dnnpane">
                    <div id="P3_33_1" class="col-md-4 spacingTop">@Html.Pane("p3_33_1")</div>
                    <div id="P3_33_2" class="col-md-4 spacingTop">@Html.Pane("p3_33_2")</div>
                    <div id="P3_33_3" class="col-md-4 spacingTop">@Html.Pane("p3_33_3")</div>
                </div>

                <div class="row dnnpane">
                    <div id="ContentPaneLower" class="col-md-12 contentPane spacingTop">@Html.Pane("contentpanelower")</div>
                </div>
            </div><!-- /.mainContent-inner -->
        </main>
        <!-- /.mainContent -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer role="contentinfo">
        <div class="footer-above">
            <div class="container">
                <div class="row dnnpane">
                    <div id="footer_25_1" class="footer-col col-md-3 col-sm-6">@Html.Pane("footer_25_1")</div>
                    <div id="footer_25_2" class="footer-col col-md-3 col-sm-6">@Html.Pane("footer_25_2")</div>
                    <div class="clearfix visible-sm"></div>
                    <div id="footer_25_3" class="footer-col col-md-3 col-sm-6">@Html.Pane("footer_25_3")</div>
                    <div id="footer_25_4" class="footer-col col-md-3 col-sm-6">@Html.Pane("footer_25_4")</div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row dnnpane">
                    <div class="col-md-12">
                        <div class="copyright">
                            @Html.Copyright(cssClass: "")
                        </div>
                        <div class="terms-priv">
                            @Html.LinkToMobileSite()
                            @Html.Terms()
                            |
                            @Html.Privacy()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.SiteWrapper -->
@* CSS & JS includes *@
@Html.SkinPartial("Common/AddFiles")